USE [master]
GO
/****** Object:  Database [CloudStorage]    Script Date: 15.05.2025 15:54:53 ******/
CREATE DATABASE [CloudStorage]
GO
USE [CloudStorage]
GO
/****** Object:  Table [dbo].[Directories]    Script Date: 15.05.2025 15:54:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NULL,
	[Name] [nvarchar](max) NOT NULL,
	[OldDirId] [int] NULL,
	[TrashName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Directories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Files]    Script Date: 15.05.2025 15:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Size] [decimal](18, 6) NOT NULL,
	[DirectoryId] [int] NOT NULL,
	[OldDirId] [int] NULL,
	[TrashName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Files] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[History]    Script Date: 15.05.2025 15:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ActionType] [int] NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[FileId] [int] NULL,
	[DirectoryId] [int] NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_History] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Links]    Script Date: 15.05.2025 15:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Links](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileId] [int] NULL,
	[DirId] [int] NULL,
	[Code] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Links] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15.05.2025 15:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[IsAdmin] [int] NOT NULL,
	[RootDirId] [int] NOT NULL,
	[TrashDirId] [int] NOT NULL,
	[IsBan] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Directories] ON 

INSERT [dbo].[Directories] ([Id], [ParentId], [Name], [OldDirId], [TrashName]) VALUES (1, NULL, N'Root_dima', NULL, NULL)
INSERT [dbo].[Directories] ([Id], [ParentId], [Name], [OldDirId], [TrashName]) VALUES (2, NULL, N'Trash_dima', NULL, NULL)
INSERT [dbo].[Directories] ([Id], [ParentId], [Name], [OldDirId], [TrashName]) VALUES (3, 1, N'Иконки', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Directories] OFF
GO
SET IDENTITY_INSERT [dbo].[Files] ON 

INSERT [dbo].[Files] ([Id], [Name], [Size], [DirectoryId], [OldDirId], [TrashName]) VALUES (1, N'Инно лого_белый.svg', CAST(159071.000000 AS Decimal(18, 6)), 3, NULL, NULL)
INSERT [dbo].[Files] ([Id], [Name], [Size], [DirectoryId], [OldDirId], [TrashName]) VALUES (2, N'GOST_7.0.97-2016.pdf', CAST(521249.000000 AS Decimal(18, 6)), 4, NULL, NULL)
INSERT [dbo].[Files] ([Id], [Name], [Size], [DirectoryId], [OldDirId], [TrashName]) VALUES (3, N'Falke_Veselye-moreplavateli_RuLit_Me_967295.pdf', CAST(15456672.000000 AS Decimal(18, 6)), 4, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Files] OFF
GO
SET IDENTITY_INSERT [dbo].[History] ON 

INSERT [dbo].[History] ([Id], [UserId], [ActionType], [Text], [FileId], [DirectoryId], [Date]) VALUES (1, 1, 0, N'Папка "Иконки" была создана', NULL, 3, CAST(N'2025-05-14T15:41:49.257' AS DateTime))
INSERT [dbo].[History] ([Id], [UserId], [ActionType], [Text], [FileId], [DirectoryId], [Date]) VALUES (2, 1, 6, N'Файл "Инно лого_белый.svg" был загружен на диск', 1, NULL, CAST(N'2025-05-14T15:41:53.643' AS DateTime))
INSERT [dbo].[History] ([Id], [UserId], [ActionType], [Text], [FileId], [DirectoryId], [Date]) VALUES (3, 1, 0, N'Папка "Мои PDF" была создана', NULL, 4, CAST(N'2025-05-14T15:44:41.580' AS DateTime))
SET IDENTITY_INSERT [dbo].[History] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Login], [PasswordHash], [IsAdmin], [RootDirId], [TrashDirId], [IsBan]) VALUES (1, N'dima', N'$2a$13$NCK5vS8.S23xfw.JxHpmzOSTftYCgq0Sxit4UcBJPWHyV6r0oQ446', 0, 1, 2, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Directories]  WITH CHECK ADD  CONSTRAINT [FK_Directories_Directories] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Directories] ([Id])
GO
ALTER TABLE [dbo].[Directories] CHECK CONSTRAINT [FK_Directories_Directories]
GO
ALTER TABLE [dbo].[Directories]  WITH CHECK ADD  CONSTRAINT [FK_Directories_Directories1] FOREIGN KEY([OldDirId])
REFERENCES [dbo].[Directories] ([Id])
GO
ALTER TABLE [dbo].[Directories] CHECK CONSTRAINT [FK_Directories_Directories1]
GO
ALTER TABLE [dbo].[Files]  WITH CHECK ADD  CONSTRAINT [FK_Files_Directories] FOREIGN KEY([DirectoryId])
REFERENCES [dbo].[Directories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Files] CHECK CONSTRAINT [FK_Files_Directories]
GO
ALTER TABLE [dbo].[Files]  WITH CHECK ADD  CONSTRAINT [FK_Files_Directories1] FOREIGN KEY([OldDirId])
REFERENCES [dbo].[Directories] ([Id])
GO
ALTER TABLE [dbo].[Files] CHECK CONSTRAINT [FK_Files_Directories1]
GO
ALTER TABLE [dbo].[Files]  WITH CHECK ADD  CONSTRAINT [FK_Files_Directories2] FOREIGN KEY([DirectoryId])
REFERENCES [dbo].[Directories] ([Id])
GO
ALTER TABLE [dbo].[Files] CHECK CONSTRAINT [FK_Files_Directories2]
GO
ALTER TABLE [dbo].[Files]  WITH CHECK ADD  CONSTRAINT [FK_Files_Directories3] FOREIGN KEY([OldDirId])
REFERENCES [dbo].[Directories] ([Id])
GO
ALTER TABLE [dbo].[Files] CHECK CONSTRAINT [FK_Files_Directories3]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History_Directories] FOREIGN KEY([DirectoryId])
REFERENCES [dbo].[Directories] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History_Directories]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History_Users]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History_Users1] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History_Users1]
GO
ALTER TABLE [dbo].[Links]  WITH CHECK ADD  CONSTRAINT [FK_Links_Directories] FOREIGN KEY([DirId])
REFERENCES [dbo].[Directories] ([Id])
GO
ALTER TABLE [dbo].[Links] CHECK CONSTRAINT [FK_Links_Directories]
GO
ALTER TABLE [dbo].[Links]  WITH CHECK ADD  CONSTRAINT [FK_Links_Files] FOREIGN KEY([FileId])
REFERENCES [dbo].[Files] ([Id])
GO
ALTER TABLE [dbo].[Links] CHECK CONSTRAINT [FK_Links_Files]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Directories] FOREIGN KEY([RootDirId])
REFERENCES [dbo].[Directories] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Directories]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Directories1] FOREIGN KEY([TrashDirId])
REFERENCES [dbo].[Directories] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Directories1]
GO
USE [master]
GO
